.player {
  display: flex;
  justify-content: center;
}

.opponent {
  display: flex;
  justify-content: center;
}

.btnStart {
  margin: 30px;
  width: 200px;
  height: 50px;
  background-color: white;
  color: rgb(227, 148, 0);
  border-radius: 12px;
  border: solid 1px black;
  font-size: 25px;
  transition: 0.5s ease-in-out;
  margin-bottom: 0px;
}

.btnStart:hover {
  background-color: rgb(255, 192, 76);
  color: black;
}

.imgMargin {
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.trumpSuit {
  transform: rotate(90deg);
  margin-left: 22px;
  margin-right: 60px;
  margin-top: 60px;
  margin-bottom: 61px;
  z-index: 2;
}

.otherCards {
  margin-bottom: 60px;
  margin-right: -55px;
  position: sticky;
  z-index: 1;
  margin-top: 60px;
}

.goUnder {
  z-index: -2 !important;
}

.closed {
  margin-left: 40px !important;
  margin-bottom: 60px;
  margin-right: 0px !important;
  position: sticky;
  z-index: 1;
  margin-top: 60px;
}